<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>To do List</title>
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- Fontawesome 6 CND-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <nav class=" purple accent-3">
      <div class="nav-wrapper">
        <div class="filtro">
          <nav class=" purple accent-3">
            <!-- <div class="nav-wrapper"> -->
            <form>
              <div class="input-field">
                <input id="search" type="search" required v-model="textFilter" placeholder="Pesquisar tarefa...">
                <label class="label-icon" for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
              </div>
            </form>
          </nav>
        </div>
      </div>
    </nav>


    <div v-show="load" class=" load center-align ">
      <div class="preloader-wrapper big active center-align">
        <div class="spinner-layer spinner-blue-only ">
          <div class="circle-clipper left">
            <div class="circle "></div>
          </div>
          <div class="gap-patch">
            <div class="circle "></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" v-show="!modoAdicionar">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <!-- card de tarefa que repete para cada item do array -->
          <div v-for="tarefa in filterTasks" class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  {{ tarefa.title }}
                  <span class=" new badge data-badge-caption light-blue lighten-2"> {{ tarefa.dueTo }} </span>
                </p>
                <span class="chip #f8bbd0 pink lighten-4">{{ tarefa.project }}</span>
              </div>
              <div class="card-action ">
                <a @click="editTask(tarefa.id)" onclick="document.getElementById('modelWin').style.display = 'flex'"
                  class="light-blue-text fa-solid fa-pen-to-square "></a>
                <a @click="deleteTask(tarefa.id)" class="light-blue-text fa-solid fa-trash-can " href="#"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="plus right-align add">
        <a class=" btn-floating btn-large waves-effect waves-light" @click="show()">
          <i class="fa-solid fa-plus light-blue lighten-2 "></i>
        </a>
      </div>
    </div>


    <div id="tasksNew" v-show="modoAdicionar">
      <div class="container">
        <div class="section">
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12" id="elTasks">
              <!-- New tasks area-->
              <div class="card horizontal">
                <div class="card-stacked">
                  <div class="card-content">
                    <h2>New Task</h2>
                    <form action="">
                      <div class="input-field col s12">
                        <input v-model="task.title" placeholder="Title" id="title" type="text" class="validate"
                          required />
                        <label for="title">Title</label>
                      </div>

                      <div class="input-field  col s12">
                        <div>
                          <label for="project">Pick a Project</label>
                        </div>
                        <select v-model="task.project" class=" browser-default col s12 disabled" id="project"
                          name="project">
                          <option value="" disabled selected>Choose your option</option>
                          <option value="Estudos">Estudos</option>
                          <option value="Financeiro">Financeiro</option>
                          <option value="Trabalho">Trabalho</option>
                        </select>
                      </div>

                      <div class="input-field col s12">
                        <input v-model="task.dueTo" type="date" class="datepicker" id="dueTo" />
                        <label for="dueTo">Date due to</label>
                      </div>
                      <div class="input-field col s12"></div>
                      <a @click="postTasks" class="waves-effect waves-light btn-large light-blue lighten-2" id="btnSave"
                        href="./tasksList.html">Save</a>
                  </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->

    <div id="modelWin" style="max-height:100%" class="modal ">
      <!-- <div class="modal-content row"> -->
      <!-- <div class="col s12" id="elTasks"> -->
      <!-- New tasks area-->
      <div class="card horizontal modal-content row col s12" id="elTasks">
        <span class="close">&times;</span>
        <div class="card-stacked">
          <div class="card-content">
            <h2>Edit Task</h2>
            <form action="">
              <div class="input-field col s12">
                <input v-model="taskFrom.title" placeholder="Title" id="title" type="text" class="validate" required />
                <label for="title">Title</label>
              </div>
              <div class="input-field  col s12">
                <div>
                  <label for="project">Pick a Project</label>
                </div>
                <select v-model="taskFrom.project" class=" browser-default col s12 disabled" id="project"
                  name="project">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="Estudos">Estudos</option>
                  <option value="Financeiro">Financeiro</option>
                  <option value="Trabalho">Trabalho</option>
                </select>
              </div>
              <div class="input-field col s12">
                <input v-model="taskFrom.dueTo" type="date" class="datepicker" id="dueTo" />
                <label for="dueTo">Date due to</label>
              </div>
              <div class="input-field col s12"></div>
              <a @click="editTaskPut" class="waves-effect waves-light btn-large light-blue lighten-2" id="btnSave"
                href="./tasksList.html">Save</a>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>




  </div>


  <footer class="page-footer #d500f9 purple accent-3">
    <div class="footer-copyright">
      <div class="container">© 2022 Frontend</div>
    </div>
  </footer>
  </div>
  <!-- app -->

  <!-- Materialize JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/todo.js"></script>
  <script>


  </script>
</body>

</html>